<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfh.api.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="com.hfh.api.entity.CategoryEntity">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="icon" property="icon"/>
        <result column="type" property="type"/>
        <result column="user_id" property="userId"/>
        <result column="sort_order" property="sortOrder"/>
        <result column="deleted" property="deleted"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

</mapper>
