<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfh.api.mapper.ReminderMapper">

    <resultMap id="BaseResultMap" type="com.hfh.api.entity.ReminderEntity">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="title" property="title"/>
        <result column="amount" property="amount"/>
        <result column="remind_date" property="remindDate"/>
        <result column="frequency" property="frequency"/>
        <result column="is_repeated" property="isRepeated"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="deleted" property="deleted"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

</mapper>
